@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-gold: #f5c13d;
  --primary-gold-foreground: 0 0% 0%; /* Black text for contrast */
  --secondary-light-gold : #f3f0e8;
  --tertiary-gold : #F4F1E7 ;
}

.swiper {
  width: 100%;
  height: 100%;
}

.table {
  width: 100%;
  table-layout: fixed; /* Ensures that column sizes are respected */
}

.table th, .table td {
  overflow: hidden; /* Prevents content from overflowing */
  text-overflow: ellipsis; /* Adds ellipsis for overflowing text */
  white-space: nowrap; /* Prevents text from wrapping */
}

/*  */

.underline-on-hover {
  position: relative; /* Necessary for positioning the pseudo-element */
  display: inline-block;
}

.underline-on-hover::after {
  content: '';
  position: absolute;
  width: 0; /* Initially no underline */
  height: 2px; /* Adjust underline thickness as needed */
  bottom: 0; /* Position at the bottom of the text */
  left: 50%;
  background-color: black; /* Inherits text color */
  transition: width 0.5s ease , right 0.5s ease; /* Adjust duration for desired speed */
  transform: translateX(-50%);
}

.underline-on-hover:hover::after {
  width: 100%; /* Full underline on hover */
}


.animated-div {
  animation: upAndDown 2s infinite alternate; /* Adjust duration and timing as needed */
}

@keyframes upAndDown {
  0% {
    transform: translateY(0); /* Start at original position */
  }
  100% {
    transform: translateY(-20px); /* Move 20px upwards */
  }
}

.active {
    color: black;
    font-weight: bolder;
}

.rotating-svg {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




